<div class ="container-fluid">
    <div class ="row">
        <div class ="col pt-4 pb-4">
            <div class ="pb-3">
                <button class="btn {{ btnOutlineClass }}">{{ btnText }}</button>
            </div>
            <div class ="pb-3">
                <button class="btn btn-lg {{ btnOutlineClass }}">{{ btnText }}</button>
            </div>
            <div class ="pb-3">
                <button class="btn btn-sm {{ btnOutlineClass }}">{{ btnText }}</button>
            </div>
             <div>
                <button class="btn btn-block {{ btnOutlineClass }}">{{ btnText }}</button>
            </div>

        </div>
        <div class ="col bg-dark pt-4 pb-4">
            <div class ="pb-3">
                <button class="btn {{ btnClass }}">{{ btnText }}</button>
            </div>
            <div class ="pb-3">
                <button class="btn btn-lg {{ btnClass }}">{{ btnText }}
            </button>
            </div>
            <div class ="pb-3">
                <button class="btn btn-sm {{ btnClass }}">{{ btnText }}</button>
            </div>
            <div>
                <button class="btn btn-block {{ btnClass }}">{{ btnText }}
            </button>
            </div>
        </div>
    </div>

</div>
